body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

/* ── HEADER ── */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    padding: 24px 0;
    margin-right: 76px;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-name {
    color: #2E2F42;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 40px;
}

.nav-menu-item {
    position: relative;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.current {
    position: relative;
    color: #404BBF;
}

.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* ── HERO ── */
.section-hero {
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 188px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom,
            rgb(46 47 66 / 70%),
            rgb(46 47 66 / 70%)),
        url(../images/people-office.jpg);
}

.section-hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.section-hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.section-hero-button {
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero-button:hover,
.section-hero-button:focus {
    border: none;
    background: #404BBF;
}

/* ── OUR ADVANTAGES ── */
.our-advantages-list {
    display: flex;
    gap: 24px;
}

.our-advantages-item {
    width: calc((100% - 72px) / 4);
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.adv-icon {
    width: 64px;
    height: 64px;
}

.title-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.title-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ── OUR TEAM ── */
.our-team {
    background: #F4F4FD;
}

.our-team-title {
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.our-team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-info {
    padding: 32px 0;
    text-align: center;
}

.soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.soc-item {
    width: 40px;
    height: 40px;
}

.soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
    background-color: #404BBF;
}

.soc-icon {
    fill: #f4f4fd;
}

/* ── OUR PORTFOLIO ── */
.our-portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay-container {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0);
}

.portfolio-thumb {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

/* ── FOOTER ── */
footer {
    background-color: #2E2F42;
}

.footer {
    padding: 100px 0;
}

.footer-wrap {
    display: flex;
    align-items: baseline;
}

.footer-logo-wrap {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #F4F4FD;
}

.footer-text {
    font-weight: 400;
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer-soc-wrap {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.footer-soc-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31D0AA;
}

.footer-soc-icon {
    fill: #F4F4FD;
}
.telegram-svg {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    margin-left: 16px;
}
.email-title {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
}
.email-input {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    padding-left: 16px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.email-input::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        padding: 8px 212px 8px 0px
}
.email-input:focus {
    border: 1px solid #31D0AA;
    color: #ffffff;
}
.button-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background: #4D5AE5;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 165px;
}
.button-subscribe:hover,
.button-subscribe:focus {
    background-color: #31D0AA;
}
.email-form {
    display: flex;
    gap: 24px;
}
/* MODAL OVERLEY */
.modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    max-height: 90%;
    padding: 72px 24px 24px;
    border-radius: 4px;
    background: #fcfcfc;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.14),
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 2px 1px rgba(0, 0, 0, 0.2);
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.close-overlay {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.close-overlay:hover,
.close-overlay:focus {
    background: #404bbf;
    border: none;
}

.close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-overlay:hover .close-icon,
.close-overlay:focus .close-icon {
    fill: #ffffff;
}
.form-overlay {
    display: flex;
    flex-direction: column;
}

.title-overlay {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.input-box {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.input-wrapper {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 11px 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.modal-input:hover {
    border-color: #4d5ae5;
}
.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper:focus-within .input-icon,
.input-wrapper:hover .input-icon {
    fill: #4d5ae5;
}
.input-box-area {
    margin-bottom: 16px;
}

.input-comment {
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment:focus,
.input-comment:hover {
    border-color: #4d5ae5;
}

.input-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.input-comment:focus::placeholder {
    color: #4d5ae5;
}
.input-checkbox {
    margin-bottom: 24px;
}
.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.modal-label-check {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
}
.custom-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-policy:checked+.modal-label-check .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.input-policy:checked+.modal-label-check .check-icon {
    opacity: 1;
}
.send-form-btn {
    align-self: center;
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-btn:hover,
.send-form-btn:focus {
    background-color: #404bbf;
}
.link-police {
    margin-left: 4px;
    text-decoration: underline;
    color: #4d5ae5;
}