body {
    font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #ffffff;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
    height: autoq;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding: 120px 0;
}
.container-header {
    display: flex;
    justify-content: space-between;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.logo {
    display: block;
        padding: 24px 0;
    margin-right: 76px;
    font-weight: 700;
        font-size: 18px;
        font-family:"Raleway",sans-serif;
        /* line-height: 21px; */
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.logo-name {
      color: #2E2F42;
}
ul {
    list-style-type: none;
    padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
}
a {
    text-decoration: none;
    color: inherit;
    transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu-item {
    position: relative;
}
.nav-menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.nav-menu-link-1 {
    display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    color: #404BBF;
}
.active::after ,
.active::after {
    content: '';
    position: absolute;
    border-radius: 2px;
        width: 48px;
        height: 4px;
        background-color: #404BBF;
        bottom: 0;
        left: 0;
}

.nav-menu-link:hover,
.nav-menu-link:focus {
        color: #404BBF;
}
.nav-menu {
    display: flex;
    gap: 40px;
}
.nav-list {
    display: flex;
    align-items: center
}
.address-list-link {
        display: block;
            padding: 24px 0;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-list-link:hover,
.address-list-link:focus {
        color: #404BBF;
}
.address-list {
    display: flex;
    gap: 40px;
}
.section-hero {
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 188px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom,
            rgb(46 47 66 / 70%),
                rgb(46 47 66 / 70%)),
            url(../images/people-office.jpg);
}
.section-hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.section-hero-title {
     max-width: 496px;  
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
}
.section-hero-button {
    border: none;
    border-radius: 4px;
    min-width: 169px;
        height: 56px;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
        background: #4D5AE5;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 .section-hero-button:hover,
 .section-hero-button:focus {
                border: none;
    background: #404BBF;
}
footer {
    background-color: #2E2F42;
}
.our-advantages-icons {
    max-width: 64px;
}
.icon-container {
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
}
.our-advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 24px
}
.our-advantages-item:last-child {
    margin-right: 0;
}
.our-advantages-item {
    width: calc((100% - 72px) / 4)
}
.our-advantages-item .title-three {
     margin-bottom: 8px
 }
.portfolio-thumb {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
.title-two {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        text-transform: capitalize
}
.title-three {
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:#2E2F42;
        margin-bottom: 8px
}
.text {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.our-team {
    background: #F4F4FD;
    margin-bottom: 8px;

}
.our-team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
        box-shadow:
            0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 24px;
}
.our-team-text {
    padding: 32px 0px;
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        border-radius: 0 0 4px 4px;
        text-align: center;

}
.our-team-title {
    margin-bottom: 72px;
    text-align: center;
}
.our-team-icon {
    width: 40px;
    height: 40px;
}
.social-link-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    column-gap: 24px;
}
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.our-team-item-icon:hover,
.our-team-item-icon:focus {
    background-color: #404BBF;
    
}
.our-team-icon {
    width: 16px;
    height: 16px;
}
.our-team-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
}
.our-portfolio {
    margin-bottom: 8px;
}
.our-portfolio-title {
    margin: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.overlay-container {
    position: relative;
    overflow: hidden;
}
.portfolio-item {
        cursor: pointer;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #FFFFFF;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4D5AE5;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    width: 100%;
    height: 100%;
}
.portfolio-item:hover .overlay-text {
    transform: translateY(0);
}

.footer {
    padding: 100px 0;
}
.footer-list {
    display: flex;
    justify-content: flex-start;
}
.footer-logo {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
    /* line-height: 21px; */
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer-logo-name {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}
.footer-text {font-weight: 400;
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.footer-social-text {
    margin-bottom: 16px;
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.02em;
}
.address {
    font-style: normal;
}
.footer-social-ikon {
    width: 40px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer {
    width: 24px;
    height: 24px;
}
.footer-social-list {
    display: flex;
    gap: 16px;
}
.logo-container {
    display: flex;
    flex-direction: column;
}
.footer-container {
    display: flex;
}
.footer-social-container {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}
.footer-icon {
    width: 24px;
    height: 24px;
}
.footer-social-ikon:hover {
    background-color: #31D0AA;
}